.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    transition: .3s ease background-color;
    padding: 10px 15px;
    border-radius: 999px;
    &:hover{
        background-color: #3a3a3a
    }
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
    color: #fff
}

.tw-followCard-infoUserTag{
    opacity: .6;
}

.tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.tw-followCard-button{
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    transition: .5s ease background-color;

    &:hover{
        background-color: #d4d4d4;
    }
}


.tw-followCard-button.is-following{ 
    background-color: transparent;
    border: 1px #fff solid;
    color: #fff;
    transition: .1s ease all;
    min-width: 130px;

    &:hover{
        background-color: rgba(253, 65, 65, 0.147);
        color: rgb(252, 67, 67);
        border: 1px red solid;
    }
}

.tw-followCard-button.is-following:hover .tw-followCard-isFollow{
    display: none
}

.tw-followCard-unFollow{
    display: none
}

.tw-followCard-button.is-following:hover .tw-followCard-unFollow{
    display: block;
}


